{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Redefinir senha do usuário: {{ user.username }}</h2>

  <form method="POST">
    <div class="form-group">
      <label for="new_password">Nova Senha</label>
      <input class="form-control" type="password" name="new_password" required minlength="6">
    </div>

    <div class="form-group">
      <label for="confirm_password">Confirmar Senha</label>
      <input class="form-control" type="password" name="confirm_password" required minlength="6">
    </div>

    <button type="submit" class="btn btn-primary mt-2">Redefinir Senha</button>
    <a href="{{ url_for('manage_users') }}" class="btn btn-secondary mt-2">Voltar</a>
  </form>
</div>
{% endblock %}
